@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  --text-white: #ffff;
  --bg-white: #F5F5F5;
  --text-black: #121212;
  --light-black: #3c3b3b;
  --button-color: #FFC700;
  --primary-color: #6a0101; 
  --primary-light:#6a010130;
  --gray-color: #797676;
  --light-gray: #e4e3e3bd;
  --secondary-color: #071e63;
  --secondary-light: #071e6360; 
  --tertiary-color: #dbe4f2; 
  --logo-text: #009ff5;
  --card-color: #ebeef98a;
  --light-logo: #bfc6ee38;
  --transparent-white: #ffffff6b;
  --success-color: #026923f1;
  --error-color: #bd0606;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  
  font-weight: 500;
  color: var(--text-white);
  text-decoration: inherit;
}
a:hover {
  border-bottom: var(--primary-color);
  color: var(--primary-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
 
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p {
  line-height: 1.8;
}
.clip-slant {
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);
}
.nav-link {
  position: relative;
  padding-bottom: 4px;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
}

.nav-link.active {
 
  color: var(--secondary-color) !important;
  border-radius: 8px;
  border-width: 2;
  border-bottom: var(--primary-color) !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
